.hello {
  padding-bottom: 80px;
  text-align: center;
}

.hello__link {
  display: block;
  text-decoration: none;
}

.hello__logo {
  width: 38px;
  aspect-ratio: 1/1;
}

.hello__title {
  margin: 46px 0 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

@media screen and (min-width: 768px) {
  .hello {
    text-align: start;
    align-self: flex-start;
    padding-bottom: 40px;
  }

  .hello__title {
    margin-top: 36px;
  }
}
