.search-form {
  width: calc(100% - 20px);
  margin: 0 10px 10px;
  border-bottom: solid 1px #E8E8E8;
  padding: 80px 0 45px;
}

.search-form__fields-container {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}

.search-form__form {
  padding: 19px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-radius: 9px;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.search-form__icon {
  display: none;
  margin: 0 10px 0 0;
  width: 34px;
  aspect-ratio: 1/1;
  background-image: url(../../images/search-form-find-icon.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.search-form__input {
  width: calc(100% - 80px);
  margin: 0;
  padding: 0;
  border: none;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.search-form__input:focus {
  outline: none;
}

.search-form__input::placeholder {
  color: #A0A0A0;
}

.search-form__submit-button {
  display: block;
  width: 34px;
  aspect-ratio: 1/1;
  border-radius: 17px;
  border: none;
  background-color: #3456F3;
  background-image: url(../../images/search-form-button-icon.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

@media screen and (min-width: 768px) {
  .search-form {
    width: calc(100% - 60px);
    margin: 0 30px 10px;
    padding-bottom: 110px;
  }

  .search-form__fields-container {
    flex-direction: row;
    row-gap: 0;
    border-radius: 9px;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    padding: 19px 0;
  }

  .search-form__form {
    justify-content: flex-start;
    width: 100%;
    padding: 0 19px;
    border-radius: 0;
    box-shadow: none;
    border-right: 1px #CBCBCB solid;
  }

  .search-form__icon {
    display: block;
  }

  .search-form__input {
    width: calc(100% - 124px);
    padding-right: 42px;
    font-size: 18px;
  }

}

@media screen and (min-width: 1024px) {
  .search-form {
    width: calc(100% - 140px);
    margin: 0 70px 10px;
    padding: 70px 0 70px;
  }
}
